@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.header-big {
		font-family: 'Special Elite';
	}
}

body {
	background-color: #000;
}

.nav {
	position: fixed;
	top: 10px;
	right: 0;
}

.nav.mini-nav {
	/* display: none; */
}

/* .Toastify__toast-body {
	font-size: 16px;
} */
