@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.header-lg {
		font-family: 'Special Elite', cursive;
	}
	.header-md {
		font-family: 'Stardos Stencil', cursive;
	}
}

body {
	background-color: #000;
}

.hamburger-react {
	margin-left: auto;
}

.day-program a {
	text-decoration: underline;
}
